.navbar-edit{
    margin-left: 60%;
    margin-right: 0%; 
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}
li.nav-item{
    padding-right: 20px;
}

.carousel-control-next-icon{
    visibility: hidden;
}
body{
    box-sizing: border-box !important;
}
.container{
    margin-bottom: 100px;
}
.container h3{
    margin-bottom: 30px;
}
.container h6{
    color: orange;
}

.nav-item, .nav-link{
    color: darkgray;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.0rem;
    padding-left: .5rem;
}
.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.carousel-item{
    padding: 20px;
}
.carousel-indicators li {
    background-color: orange;
    border-radius: 30%;
    width: 20px;
    height: 3px;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
    position: relative;
    bottom: 20px;
}
.cat{
    position: relative;
    top: 20px;
}
.heading{
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    width: 80px;
    height: 6px;
    border-radius: 10px;
    margin: 0 auto;
}

.category-perfume, .category-bag{
    margin-bottom: 20px;
}
footer{
    color: gray;
    text-align: center;
}
.submit-button {
    font: bolder;
    border-radius: 10px;
    margin: left; 
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    top: 10px;
}